body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 200px;
  max-height: 100vh;
}

.number-slide1 {
  background: rgb(64, 175, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 175, 255, 1) 0%,
    rgba(63, 97, 255, 1) 100%
  );
}


.wrapper {
  display: flex;
  justify-content: center;
}
.scene {
  width: 260px;
  height: 200px;
  perspective: 1000px;
  position: relative;
}
.scene .carousel.keen-slider {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: visible;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
}
.carousel__cell {
  position: absolute;
  width: 240px;
  left: 10px;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

@media screen and (max-width:640px) {
  [class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 250;
  height: 100px;
  max-height: 80vh;
}
.scene {
  width: 200px;
  height: 100px;
  perspective: 800px;
  position: relative;
}
.carousel__cell {
  position: absolute;
  width: 200px;
  left: 10px;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
}
@media screen and (min-width:641px) and (max-width:768px) {

     
}